<div class="row">
    <div class="col-lg-4 col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, repudiandae aliquam amet magnam qui culpa, consequuntur delectus, expedita quibusdam quae adipisci! Sint quidem assumenda velit deleniti, mollitia eveniet autem reprehenderit.</div>
    <div class="col-lg-4 col-12">Modi illo incidunt nesciunt assumenda et nihil non nemo ex quidem pariatur voluptates, quibusdam fuga obcaecati id dignissimos dicta iste sequi excepturi porro, corrupti molestiae quo fugiat minus? Quidem, esse.</div>
    <div class="col-lg-4 col-12">In minima possimus quam reprehenderit veritatis velit consectetur officia incidunt aliquam totam! Non officiis sint a quaerat aliquam! Natus sunt et ipsum eos perferendis voluptates eum ut quasi, qui fuga?</div>

</div>