<div class="row">
    <div class="col-lg-3 col-12">
        <H2>About Us:</H2>
        <ul>
            <li><a href="">test</a></li>
            <li><a href="">test</a></li>
        </ul>
        <div class="mt-2">
            <form action="">
                <input type="email" class="form-control">
                <button class="btn btn-primary">SEND</button>
            </form>
        </div>
    </div>

    <div class="col-lg-3 col-12">
        <h2>
            Quick Links
        </h2>
        <div class="row">
            <div class="col-lg-6 col-12">
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Deleniti tempore a cupiditate numquam.</li>
                    <li>Inventore earum voluptas ipsa eum!</li>
                    <li>Eos ex ipsa distinctio rerum.</li>
                </ul>
            </div>
            <div class="col-lg-6 col-12">
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Deleniti tempore a cupiditate numquam.</li>
                    <li>Inventore earum voluptas ipsa eum!</li>
                    <li>Eos ex ipsa distinctio rerum.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-12">
        <h2>Contact Info:</h2>
        <div>
            <p>
                <i class="fa fa-location-arrow" aria-hidden="true"></i> av. asdfasdfdsa 203
            </p>
            <p>
                <i class="fa fa-phone" aria-hidden="true"></i> 01 - 5644957
            </p>
            <p>
                <i class="fa fa-envelope" aria-hidden="true"></i> adfasdf@uigv.edu
            </p>
        </div>

    </div>
</div>